<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hot Topics-portfolio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Linking the stylesheet-->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>


<body>
    <header>
         <div class="logo">
          <a href="../index.html"><img src="../img/logo.png"></a>
        </div>
        <nav class="nav-bar">
            <div class="container-fluid">
                <ul class="nav">
                    <li><a href="../partials/home.html" class="marginright">Home</a></li>
                    <li><a href="../partials/portfolio.html" class="marginleft">Portfolio</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>

    <h3>Portfolio</h3> 
    
    
             <div class="portfolio">

            <div class="card1">
                <img src="../img/4.jpg" class="img-fluid" alt="Responsive image">
            <figcaption>
                <h4>UI Design-Book store</h4>
            </figcaption>
            </div>



            <div class="card2">
            <img src="../img/5.jpg" class="img-fluid" alt="Responsive images">
            <figcaption>
                <h4>UI Design-Gym website</h4>
            </figcaption>
            </div>



            <div class="card3">
                <img src="../img/7.jpg"class="img-fluid" alt="Responsive image">
            <figcaption>
                <h4>UI/UX Design-Netthrobe</h4>
            </figcaption>
            </div>



            <div class="card4">
                <img src="../img/8.jpg" class="img-fluid" alt="Responsive image">
            <figcaption>
                <h4>UI Design-Logistic Application</h4>
            </figcaption>
            </div>
            

            <div class="card5">
                <img src="../img/9.jpg" class="img-fluid" alt="Responsive image">
            <figcaption>
                <h4>Email Marketing website</h4>
            </figcaption>
            </div>


            <div class="card6">
                <img src="../img/10.jpg" class="img-fluid" alt="Responsive image">
            <figcaption>
                <h4>Hackathon -Posters</h4>
            </figcaption>
            </div>

        </div>
    </div>
</div>


 <footer>
    <div class="footertext">
             <p>Forward creative solution<hr>
            239 CraigHenry Dr<hr>
            8192132111</p>
            </div>
            <div class="row">
                <a href="https://www.facebook.com"><i class="fab fa-facebook-square sizef"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram sizef"></i></a>
                <a href="https://www.twitter.com"><i class="fab fa-twitter-square sizef"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin sizef"></i></a>
            </div>
        </footer>
        <script src="./js/index.js"></script>

        </body>